#GUSINFO:NPC Asteroids, SFDO Program Management Module

# Python
*.py                  @nimba-actions/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @nimba-actions/release-engineering-reviewers
/tasks/               @nimba-actions/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @ptewson-sfdo @fanwar-salesforce @rpolk-sfdc
/force-app/main/default/objects  @AndersonTarren @ptewson-sfdo @fanwar-salesforce @rpolk-sfdc

# Actions
/.github                @nimba-actions/release-engineering-reviewers
/scripts                @nimba-actions/release-engineering-reviewers
#ECCN:Open Source